

/* ======================================  Nav Bar ================================================= */
nav.navbar{
    
    background-color: #15161D;
    height: 15vh;
}

body{
    background-color: white;
}

.navb-a{
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
}
 a:hover {
    color:  #4ecdc4;
}

nav>div>div>div>div>a>i {
    display: block;
    font-size: 18px;
}
nav>div>div>div>div>a>span {
    display: block;
    
}

.prepend{
 
    border-radius: 5px 0px 0px 5px;
}
.append{
    border-radius: 0px 5px 5px 0px;
    
}



#navigation{
    background: #FFF;
    border-bottom: 2px solid #E4E7ED;
    border-top: 3px solid #4ecdc4;
    height: 67px;
    
}


.nav>li+li {
    margin-left: 30px;
}

.nav>li>a {
    padding: 20px 0px;
    color: #2B2D42;
    font-weight: 500;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    font-size: 14px;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li.active>a {
    color: #4ecdc4;
    background-color: transparent;
}

.nav>li>a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #4ecdc4;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.nav>li>a:hover:after,
.nav>li>a:focus:after,
.nav>li.active>a:after {
    width: 100%;
}

.header-ctn li.nav-toggle {
    display: none;
}

.btn-search{
    background-color: #4ecdc4;
    color: #fff;
}

/* ============================ carousel ================================== */


/* Make the image fully responsive */
.carousel-item {
    height: 400px;
    min-height: 300px;
    
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  /* ======================== circulos de Categoria ================================ */

  h3.sub{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }




  .owl-stage-outer {
    padding-left: 15px;
}
.owl-stage {
    align-content: center;
    padding-bottom: 50px;
}
  
.owl-carousel .owl-dots.disabled, .owl-carousel  {
    display: block; 
}



a.logo {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
a.logo span {
    color: #4ECDC4;
    
}